# Arquivos compilados
*.dcu
*.exe
*.stat
*.bpl

# Delphi arquivos locais
*.dproj.local
*.identcache
*.tvsconfig
*.res

#Pastas
__history/
backend/
banco_de_dados/
Win32/
Win64/
Linux64/

#Outros
Dicas.txt


